.progress-bar {
    height: 8px;
    background: #04AA6D;
    width: 0%;
    position: fixed;
    z-index: 1;
  }

.developers-main-div{
    background: linear-gradient(60deg,#c9081e, #343cc8)!important;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    /* margin-top: 3%; */
}


.side-area1{
    width: 70px;
    height: 100%;
    position: fixed;
    left: 200px;
    box-shadow: 0px 1px 5px white;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 1;
}

#menu-icon{
    color: white;
    margin-top: 2rem;
    display: none;
}



.side-area2{
    width: 70px;
    height: 100vh;
    position: fixed;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* box-shadow: 1px 0px 5px white;
    background-color: rgba(0, 0, 0, 0.1); */
}


.joinus{
    font-size: 2.5rem;
    /* text-align: center; */
    writing-mode: vertical-lr;
}

.devlogin{
    font-size: 40px;
    text-align: center;
    color: white;
    position: absolute;
    writing-mode: vertical-lr;

}

/* 
.developers-content{
    margin-top: 3rem;
} */

.avtar{
    margin-top: 3rem;
    padding: 1rem;
}

.avtar img{
    height: 150px;
    width: 150px;
}


.peoples{
    padding-left: 3rem;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    min-height: 100vh;
}

@media screen and (max-width:1660px){

    /* .developers-main-div{
        margin-top: 46px;
    } */
}



@media screen and (max-width:1200px){

    .developers-main-div{
        margin-top: 47px;
    }    
    .peoples{
        margin-left: 1rem !important;
    }

}


@media screen and (max-width:1024px){

    .developers-main-div{
        margin-top: 4.5%;
    }
    .joinus{
        font-size: 1.5rem;
    }
}
@media screen and (max-width:992px){

    .side-area1{
        left: -18px;
    }
    
}

@media screen and (max-width:768px){

    .developers-main-div{
        margin-top: 6%;
    }

    .side-nav2{
        visibility: hidden;
    }
    .side-area1{
        left: 5px;
        width: 3.2rem;
    }
    .peoples{
        padding-left: 9rem !important;
    }
}
@media screen and (max-width:700px){

    .developers-main-div{
        margin-top: 7%;
    }

    /* .developers-content{
        height: 100%;
        box-shadow: inset 0px 1px 12px 0px white;
    } */
    .peoples{
        padding-left: 3rem !important;
    }
}


@media screen and (max-width:600px){
    .developers-content{
        /* height: 100%; */
        /* box-shadow: inset 0px 1px 12px 0px white; */
        left: -44px;
    }
    .side-area2{
        width: 44px;
    }

    .avtar>img{
        width: 100px;
        height: 100px;
    }
}

@media screen and (max-width:500px){
    #menu-icon{
        margin-top: 2rem;
        color: white;
        margin-left: 1rem;
        cursor: pointer;
        display: block;
    }

    .peoples{
        margin-top: 3rem;
    }
    .avtar{
        margin-top: 2rem;
    }
    .side-area1{
        left: 0px;
    }
    .avtar>img{
        width: 100px;
        height: 100px;
    }
    .avtar,h3,h4{
        font-size: 20px;
    }
}

.side-nav{
    width: 70px;
    height: 100%;
    position: fixed;
}



.avtar>img{
    border-radius: 50%;
    margin: auto;
}

.avtar,h3,h4{
    text-align: center;
    color: white;
}

