
.devfolio-main-div {
    min-height: 100vh;
    margin-top: -1rem;
  }

  #developer-div{
    background: var(--dashboard-bg-color);
    display: flex;
  }

  .dev-templet-row{
    margin-top: 3.5%;
  }
  
.temp-row{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 0;
  margin-top: 5%;
}
  
  .temp-row .templet img {
      width: 350px;
      height: 250px;
      border-radius: 8px;
  }

  .templet{
    position: relative;
    box-shadow: 0px 0px 10px gray;
    border-radius: 8px;
    margin-bottom: 5%;
  }
  .templet:hover{
    box-shadow: 0px 0px 15px rgb(107, 107, 107);
    
  }
  
  .liked{
    display: block;
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: red !important;
    cursor: pointer;
  }
  .templet .unliked{
    display: block;
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: white;
    cursor: pointer;
  }
  

  .overlay-l{
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    align-items: center;
    width: 25px;
    text-align: center;
    z-index: 1;
    background-color: #f7f7f7;
    opacity: 0.2;
    border-radius: 5px;
  }
  .overlay-r{
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    align-items: center;
    width: 25px;
    text-align: center;
    z-index: 1;
    background-color: #f7f7f7;
    opacity: 0.2;
    border-radius: 5px;
  }
  
  
  .overlay-r #arrow{
    transform: rotate(180deg);
  }

  .overlay-r #description p{
    padding: 5px;
    text-align: justify;
  }
  
  .developer_profile{
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  
  
  @keyframes details {
    from{
      width:50px;
      opacity: 0;
    }
    to{
      width:100%;
      opacity: 1;
    }
  }
  
  .collaps{
    width:25px !important;
  }
  
  
  .overlay-l:hover{
    animation: 2s details both;
    color: white;
    background: linear-gradient(#FFA700,#8f5d01);
    box-shadow: 0px 0px 12px gray;
    border-radius: 8px;
    z-index: 2;
  }

  .overlay-r:hover{
    animation: 2s details both;
    color: white;
    background: linear-gradient(#D11141,#8b0224);
    box-shadow: 0px 0px 12px gray;
    border-radius: 8px;
  }

  .overlay-l .profile img{
    border-radius: 50%;
    height: 100px;
    width: 100px;
  }
  
  .overlay-l .profile{
    margin: auto;
  }

  
  .overlay-l #description{
    color: black;
    font-weight: 600;
    width: 100%;
    height: 0px;
    overflow: hidden;
    background-color: antiquewhite;
    padding: 0 1rem;
  }

  #expand{
    width: fit-content;
    cursor:pointer;
    z-index: 2;
  }

  
  .overlay-l:hover #arrow{
    transform: rotate(180deg);
  }
  .overlay-r:hover #arrow{
    transform: rotate(360deg);
  }
  
  .overlay-l #expand:hover + .overlay-l{
    background-color: antiquewhite;
  }

  .overlay-l #expand:hover + #description{
    animation: 1s expand both;
  }







  @media screen and (max-width:1200px) {
    .dev-templet-row{
      margin-top: 3%;
    }
  }

  @media screen and (max-width:1024px) {
    .dev-templet-row{
      margin-top: 6%;
    }
  }
  @media screen and (max-width:768px) {
    .dev-templet-row{
      margin-top: 6%;
      margin-left: 20%;
    }
    .temp-row>img {
      width: 450px;
      height: 250px;
    }
  }
  @media screen and (max-width:700px) {
    .dev-templet-row{
      margin-top: 7%;
      margin-left: 15%;
    }
    .temp-row>img {
      width: 450px;
      height: 250px;
    }
  }
  @media screen and (max-width:550px) {
    .dev-templet-row{ 
      margin-top: 8%;
      margin-left: 0;
    }
  }
  @media screen and (max-width:500px) {
    .dev-templet-row{ 
      margin-top: 10%;
      margin-left: 0;
    }
  }
  @media screen and (max-width:400px) {
    #developer-div{
      margin-top: 15%;
    }
    .temp-row{
      margin-right: 15px;
    }

    .temp-row>img {
      width: 300px;
      height: 200px;
    }
  }
  @media screen and (max-width:300px) {
    #developer-div{
      margin-top: 20%;
    }
  }
  