#admin_password{
    padding: 2rem;
}

.password_head h1{
    color: var(--h1-colors);
}

.password_head p{
    color: var(--text-color);
}

.pass_input_div{
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
    padding: 1rem;
    align-items: center;
    /* box-shadow: var(--dashboard-box-shadow); */
}

.pass_input_div label{
    color: var(--text-color);
    font-size: 20px;
}
.pass_input_div input{
    width: 50%;
}

.updatebtn{
    display: flex;
    justify-content: flex-end;
}

.updatebtn button{
    float: right;
    margin: 0 1rem;
    padding: 0.3 1rem;
}