

@media screen and (max-width:992px){

    .right-con,.left-con{
        margin-top: 1rem;
        width: 100%;
    }
    
    .signup-main-div{
        padding: 2rem;
    }
    .top-nav-href a{
        font-size: 1rem;
    }
    .top-nav-href a:last-child{
        margin: 0;
    }
}
@media screen and (max-width:512px){

    .right-con,.left-con{
        margin-top: 1rem;
        width: 100%;
    }

    .signup-main-div{
        padding: 1rem;
    }

    .signup-top-nav{
        height: 100px;

    }
    .top-nav-href{
        text-align: center;
        display: grid;
    }
    .top-nav-href a{
        font-size: 1rem;
    }
}



.signup__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    padding: 0.5rem 3rem;
    background-color: black;
    position: fixed;
    top: 0;
    height: 48px;
    width: 100%;
}

.signup__navbar-links {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.signup__navbar-links_logo h2 {
    width: 62.56px;
    height: 16.02px;
}

.signup__navbar-links_container {
    display: flex;
    flex-direction: row;
}

.signup__navbar-sign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.signup__navbar-links_container p,
.signup__navbar-sign p,
.signup__navbar-menu_container p {
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;

    margin: 0 1rem;
    cursor: pointer;
}

.signup__navbar-sign button,
.signup__navbar-menu_container button {
    padding: 0.3rem 0.5rem;
    color: #fff;
    background: #FF4820;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}

.signup__navbar-menu {
    margin-left: 1rem;

    display: none;
    position: relative;
}

.signup__navbar-menu svg {
    cursor: pointer;
}

.signup__navbar-menu_container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    
    text-align: end;
    background: black;
    padding: 2rem;
    position: absolute;
    right: 0;
    top: 40px;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0,0, 0,0.2);
}

.signup__navbar-menu_container p {
    margin: 1rem 0;
}

.signup__navbar-menu_container-links-sign {
    display: none;
}

@media screen and (max-width: 1050px) {

    .signup__navbar-menu_container {
        top: 20px;
        z-index: 999;
        background-color: black;
    }
    
    .signup__navbar-links_container {
        display: none;
    }

    .signup__navbar-menu {
        display: flex;
    }
}

@media screen and (max-width: 700px) {

    .signup__navbar-menu_container {
        top: 20px;
        z-index: 999;
        background-color: black;
    }
}

@media screen and (max-width: 550px) {
    .signup__navbar {
        padding: 0.5rem 1rem;
    }

    .signup__navbar-sign {
        display: none;
    }

    .signup__navbar-menu_container {
        top: 20px;
        z-index: 999;
        background-color: black;
    }
    .signup__navbar-links_container {
        display: none;
    }
    .signup__navbar-menu_container-links-sign {
        display: block;
        z-index: 999;
    }
}