
#sidenavMain{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 6px rgb(205, 205, 205);    
    background-color: var(--side-nav-bg-color);
    position: relative;
    
}
.dashboardsidenav{
    /* min-height: 100vh; */
    justify-content: space-evenly;
    position: sticky;
    min-width: 200px;
    height: fit-content;
    top: 0%;
    left: 0%;
    bottom: 0%;
    padding: 10px;
    border-radius: 0 .6rem 0.6rem 0;
    background-color: var(--side-nav-bg-color);
    z-index: 999;
}

.secondSection{
    margin-top: 2rem;
}

.dashboardsidenav h3,.dashboardsidenav h4{
    color: var(--h3-h4-colors);
}

.dashboardsidenav a{
    text-decoration: none;
    color: var(--anchor-colors);
}
.dashboardsidenav a li{
    margin: 1rem 0;
    /* font-size: 36px; */
    list-style: none;
    border-radius: 6px;
    padding: 0.2rem 1rem;
    transition: transform;
    /* box-shadow: 0px 2px 6px rgb(205, 205, 205);     */
}

.dashboardsidenav a li:hover{
    box-shadow: 0px 0px 3px rgb(205, 205, 205);   
    background-color:  var(--side-nav-tile-hover-color);
    transform: scale(1.1);
}



.theme_button1{
    color: var(--theme-btn-color);
    /* position: fixed; */
    /* bottom: 2%; */
    /* left: 3%; */
    cursor: pointer;
    z-index: 999;
}

.profile_id{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.profile_id img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.profile_id p{
    cursor: pointer;
    color: var(--text-color);
    margin: 0;
}


@media screen and (max-width:1300px) {
    .dashboardsidenav{
        max-width: 248px;
    }
}
@media screen and (max-width:1050px) {
    .dashboardsidenav{
        min-width: 150px;
        max-width: 150px;
    }
}
@media screen and (max-width:768px) {
    .dashboardsidenav{
        min-width: 100px;
        max-width: 100px;
    }
    .profile_id{
        flex-direction: column !important;
    }
    
    .theme1{
        flex-direction: column;
    }
}
@media screen and (max-width:700px) {
    .dashboardsidenav{
        min-width: fit-content;
        max-width: fit-content;
        max-width: fit-content;
        position: fixed;
    }
    .dashboardsidenav a li{
        font-size: 0;
        text-align: center;
    }

    .dashboardsidenav a li{
        padding:1rem;
    }

}