.dashboardsidenav{
    min-width: 200px;
    min-height: 100vh;
    position: sticky;
    top: 0%;
    left: 0%;
    bottom: 0%;
    padding: 10px;
    border-radius: 0 .6rem 0.6rem 0;
    background-color: var(--side-nav-bg-color);
    box-shadow: 0px 0px 6px rgb(205, 205, 205);    
    z-index: 999;
}

.dashboardsidenav h3,.dashboardsidenav h4{
    color: var(--h3-h4-colors);
}

.dashboardsidenav a{
    text-decoration: none;
    color: var(--anchor-colors);
}
.dashboardsidenav a li{
    margin: 1rem 0;
    /* font-size: 36px; */
    list-style: none;
    border-radius: 6px;
    padding: 0.2rem 1rem;
    transition: transform;
    /* box-shadow: 0px 2px 6px rgb(205, 205, 205);     */
}

.dashboardsidenav a li:hover{
    box-shadow: 0px 0px 3px rgb(205, 205, 205);   
    background-color:  var(--side-nav-tile-hover-color);
    transform: scale(1.1);
}


@media screen and (max-width:1300px) {
    .dashboardsidenav{
        max-width: 248px;
    }
}
@media screen and (max-width:1050px) {
    .dashboardsidenav{
        min-width: 150px;
        max-width: 150px;
    }
}
@media screen and (max-width:768px) {
    .dashboardsidenav{
        min-width: 100px;
        max-width: 100px;
    }
}
@media screen and (max-width:700px) {
    .dashboardsidenav{
        min-width: fit-content;
        max-width: fit-content;
        max-width: fit-content;
        position: fixed;
    }
    .dashboardsidenav a li{
        font-size: 0;
        text-align: center;
    }

    .dashboardsidenav a li{
        padding:1rem;
    }
}


.theme_button1{
    color: var(--theme-btn-color);
    position: fixed;
    bottom: 2%;
    left: 3%;
    cursor: pointer;
    z-index: 999;
}