*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway',sans-serif;
}

#workshop{
    color: white;
    background: url("../../Assets/bg.png");
    background-size: cover;
    min-height: 100vh;
    display: flex;
    /* overflow-y: scroll; */
    justify-content: center;
    padding-top: 50px;
}
.form-div{
    padding: 1rem;
    margin-top: 2rem;
}

.heading{
    /* margin-top: 2rem; */
    text-align: center;
    text-decoration: underline;
}

.workshop-form{
    display: flex;
    flex-direction: column;
    padding: 2rem;
}



.workshop-form label{
    margin-top: 1rem;
    font-weight: 600;
}


button{
    margin: auto;
    margin-top: 1rem;
}

#overlay {
    filter:alpha(opacity=70);
    -moz-opacity:0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
    z-index: 100;
    display: none;
}

.popup{
    display: flex;
    justify-content: center;
    position: fixed;
    height: 100vh;
    width: 100%;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(6px);
}


.popupdata{
    border-radius: 8px;
    color: black;
    font-size: 1rem;
    z-index: 101;
    width: 600px;
    display: block;
    background-color: #fff;
    padding: 2rem;
}