html {
    scroll-behavior: smooth;
}




body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


a {
    text-decoration: none;
    color: white;
}



.bor {
    border: 2px solid white;
}

.bor-r {
    border: 2px solid red;
}

#first,
#second {
    background: url("../../Assets/1091500.jpg");
    background-size: cover;
    z-index: 999;
}

.main-div {
    width: 100vw;
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    z-index: 3;
}


.toggle-btns {
    display: list-item;
    visibility: hidden;
}




.side-nav {
    width: 100px;
    height: 100%;
    background-color: rgb(255, 255, 255, 0.1);
    position: fixed;

}


.upper-con,
.lower-con {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}


.toggle-i {
    color: white;
    width: fit-content;
}

.ex {
    writing-mode: vertical-lr;
    color: white;
    font-size: 38px;
}


/* .social-div{ */
/* height:25vh; */

/* } */

.l {
    width: 100%;
    padding: 10px;
}

.s-b {

    margin: 1rem;
    width: 40px;
    height: 40px;
    color: white;
    padding: 4px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-content: center;
}

.s-b a {
    margin: auto;
    color: black;
}

.tiles-div760 {
    display: none;
}


.right-div {
    width: 100%;
    height: 100%;
    display: flex;
    padding-left: 100px;
    /* margin-left:100px; */
    /* margin-right:20px; */
}


.main-con {
    /* margin-left: 10%;*/
    color: white;
    width: 400px;
    margin: 150px;
    padding-top:5%;
}

.w-div {
    background-color: rgb(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 20px 60px 20px 60px;
    width: fit-content;
    font-size: 75px;
}

.des {
    width: 400px;
    margin: 40px 0;
    font-size: 20px;
    height: auto;
}

.nxt-btn button {
    width: fit-content;
    padding: 10px 20px 10px 20px;
    background-color: rgb(255, 255, 255, 0.2);
    border-radius: 10px;
    font-size: 30px;
    color: white;
}

.nxt-btn button:hover{
    background-color: rgb(255, 255, 255, 0.4);
}



.signup-btn a {
    padding: 0 2rem;
    width: fit-content;
    font-size: 1rem;
    border-radius: 40px;
    float: right;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}



.signup-btn a:hover{
    border-bottom: 1px solid white;
}
.buttons {
    width: fit-content;
    height: fit-content;
    display: flex;
    visibility: hidden;
    right: 0;
    position:fixed;
    /* flex-wrap: wrap; */
}

.app-icon{
    color: white;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    padding: 1rem 2rem;
    transition: transform;
}

.app-icon svg:hover{
    transform: scale(1.3);
}

.l-div {
    color: white;
    height: 3px;
    margin: 50px 150px;
}











/* #second {
    width: 100vw;
    background-image: url("../../Assets/unknown.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    height: fit-content;
    overflow: hidden;
    margin: 0;
    padding: 0;
} */

.content_cards{
    margin-left: 100px;
    display: flex;
    justify-content: space-around;
}
.content_cards>a{
    text-decoration: none;
}

.c_cards{
    width: 350px;
    height: 230px;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    background: rgba(255,255,255,0.6);
    text-align: center;
    transition: transform .2s;
}

.c_cards:hover{
    transform: scale(1.1);
    box-shadow: 1px 1px 10px white;
}

.dev_card{
    background: url(../../Assets/devimg.png);
    background-size: cover;
}
.game_card{
    background: url(../../Assets/gamedev.png);
    background-size: cover;
}
.art_card{
    background: url(../../Assets/artdev.png);
    background-size: cover;
}



#quote {
    color: rgb(227, 61, 0);
    margin-top: -20px;
}


.top-nav-con {
    padding-top: 15px;
    height: 100%;
    background-color: darkgrey;
}

.coll-nav-btn {
    background-color: transparent;
    border: none;
    color: white;
    padding-left: 30px;
}

.nav-inner-col {
    width: 100%;
}

.nav-inner-col>a {
    display: block;
    text-align: center;
    width: 100%;
}


.s-m-div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px 10px 100px 100px;
    ;
    flex-wrap: wrap;
}

.left-content {
    width: 700px;
    padding: 0 0 0 0;
    text-align: center;
}

.left-content h2 {
    color: whitesmoke;
    font-weight: 800;
}

.q-div {
    background-color: #eff5f6;
    border-radius: 20px;
    font-size: 20px;
    padding: 50px 60px 50px 60px;
    text-align: center;
    color: black;
}



.tiles-div {
    display: flex;
    /* flex-wrap: nowrap; */
    margin-top: 30px;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

/* .tiles-c,.tiles-c-h,
.tiles-l,.tiles-l-h,
.tiles-r,.tiles-r-h
.tiles-r-h760,.tiles-r-h{
    backdrop-filter: blur(15px);
} */

.tiles-l {


    margin-top: 0;
    /* background-color: #FFD3B6; */
    background-color: var(--founder-tile-bgColor);
    border-radius: 10px;
    height: 300px;
    width: 250px;
    opacity: 0.7;
    /* display: inline-block; */
    margin-right: -25px;
    transform: scale(0.9, 0.9);
    z-index: 0;
    padding: 30px 10px 30px 10px;

}

.tiles-l-h {
    margin-top: 0;
    /* background-color: #FFD3B6; */
    background-color: var(--founder-tile-bgColor);
    border-radius: 10px;
    height: 300px;
    width: 250px;
    opacity: 1;
    /* display: inline-block; */
    margin-right: -25px;
    margin-bottom: 0px;
    transform: scale(1, 1);
    z-index: 1;
    padding: 30px 10px 30px 10px;
}

.tiles-c {
    position: relative;
    margin-top: 0;
    /* background-color: #FFD3B6; */
    background-color: var(--founder-tile-bgColor);
    border-radius: 10px;
    height: 300px;
    width: 250px;
    z-index: 0;
    opacity: 0.7;
    transform: scale(0.9, 0.9);
    padding: 30px 10px 30px 10px;
    /* display: inline-block; */
}

.tiles-c-h {
    position: relative;
    margin-top: 0;
    /* background-color: #FFD3B6; */
    background-color: var(--founder-tile-bgColor);
    border-radius: 10px;
    height: 300px;
    width: 250px;
    z-index: 1;
    opacity: 1;
    transform: scale(1, 1);
    margin-bottom: 0px;
    padding: 30px 10px 30px 10px;
    /* display: inline-block; */
}

.tiles-r {
    margin-top: 0;
    /* background-color: #FFD3B6; */
    background-color: var(--founder-tile-bgColor);
    border-radius: 10px;
    height: 300px;
    width: 250px;
    opacity: 0.7;
    margin-left: -25px;
    /* display: inline-block; */
    transform: scale(0.9, 0.9);
    z-index: 0;
    padding: 30px 10px 30px 10px;
}

.tiles-r-h {
    margin-top: 0px;
    /* background-color: #FFD3B6; */
    background-color: var(--founder-tile-bgColor);
    border-radius: 10px;
    height: 300px;
    width: 250px;
    opacity: 1;
    margin-left: -25px;
    margin-bottom: 0px;
    /* display: inline-block; */
    transform: scale(1, 1);
    z-index: 1;
    padding: 30px 10px 30px 10px;
}



.t-udiv img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    z-index: 2;
    border: 2px solid white;
}

.tech-div {
    height: fit-content;
    padding: 0;
    background: rgba(255,255,255,0.5);
    backdrop-filter: saturate(180%) blur(10px);
    border-radius: 10px;
    width: 400px;
}

.tech-div h2 {
    /* color: rgb(73, 37, 250); */
    text-align: center;
    margin-bottom: -2rem;
}

.tech-div ul {
    padding: 2rem;
    font-size:larger;
    font-weight: 500;
    color: black;
}

.tech-div ul li {
    list-style: none;
    margin: 1rem 0;
}

.tech-div ul li ol {
    margin: 0.5rem 0.5rem;
}


#founderName {
    font-weight: 800;
}


.founder-profile-card-element {
    text-align: left;
    list-style: none;
    justify-content: left;
}

.founder-profile-card-element li {
    margin-top: 10px;
    word-break: break-all;
}

/* .founder-profile-card-element li p{
    text-align: justify;
} */




.tiles-c-h::before,
.tiles-c::before,
.tiles-l-h::before,
.tiles-l::before,
.tiles-r-h::before,
.tiles-r::before,
.tiles-r-h760::before {
    content: "";
    background: url('../../Assets/cardbg.png');
    z-index: -1;
    background-color: var(--color-blog);
    height: 70px;
    width: 250px;
    border-radius: 10px 10px 0 0;
    position: absolute;
    top: 0;
    left: 0;
}


@media screen and (max-height:450px) {
    .ex {
        writing-mode: vertical-lr;
        color: white;
        font-size: 1.5rem;
    }

    .s-b {

        margin: 0.5rem;
        width: 2rem;
        height: 2rem;
        color: white;
        padding: 4px;
        border-radius: 50%;
        background-color: rgb(255, 255, 255, 0.5);
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .s-b a {
        margin: auto;
        color: black;
    }

    .MuiSvgIcon-root {
        font-size: 1rem;
    }

}

@media screen and (max-width:1371px) {
    .tech-div {
        width: 370px;
        margin: 1rem 0;
    }
}


@media screen and (max-width:1276px) {

    /* .left-content{
        width:500px;
    } */
    .tech-div {
        width: 350px;
    }

}
@media screen and (max-width:1170px) {

    .c_cards{
        width: 300px;
        height: 200px;
    }
    
}

@media screen and (max-width:1078px) {

    
    .c_cards{
        width: 280px;
        height: 180px;
    }

    .tech-div {
        width: 350px;
    }

    .f-c>form>label {
        margin-bottom: 2px;
        color: white;
        width: 100%;
        text-align: center;
    }

}


@media screen and (max-width:992px) {
    .c_cards{
        width: 220px;
        height: 110px;
       
    }
}



@media only screen and (max-width:768px) {
    
    .content_cards a{
        margin: auto;
    }
    .content_cards{
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    .c_cards{
        width: 400px;
        height: 250px;
    }

    .top-nav-con a {
        font-size: 1rem;
    }

    .s-m-div {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 100px 10px 100px 10px;
        flex-wrap: wrap;
    }

    .login {
        float: right;
        margin-right: 25px;
    }

    .buttons{
        flex-wrap: wrap;
        visibility: hidden;
    }

    .signup-btn a {
        font-size: 1rem;
        /* padding: 0 1rem; */
    }

    .left-content {
        width: 90%;
        margin: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-con {
        color: white;
        margin: 15% auto;
    }

    .w-div{
        font-size: 60px;
    }

    .l-div {
        color: white;
        /* width: 100%; */
        height: 3px;
        margin: 50px 50px;
    }

    .tiles-div {
        display: flex;
        /* flex-wrap: wrap; */
        margin-top: 30px;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .tiles-l-h {
        margin-top: 0;
        /* background-color: #FFD3B6; */
        background-color: var(--founder-tile-bgColor);
        border-radius: 10px;
        height: 300px;
        width: 250px;
        opacity: 1;

        margin-right: 0px;
        margin-bottom: 10px;
        transform: scale(1, 1);
        z-index: 1;
        padding: 30px 10px 30px 10px;
    }

    .tiles-c-h {
        margin-top: 0;
        /* background-color: #FFD3B6; */
        background-color: var(--founder-tile-bgColor);
        border-radius: 10px;
        height: 300px;
        width: 250px;
        z-index: 1;
        opacity: 1;
        transform: scale(1, 1);
        margin-bottom: 10px;
        padding: 30px 10px;

    }

    .tiles-r-h {
        margin-top: 0px;
        /* background-color: #FFD3B6; */
        background-color: var(--founder-tile-bgColor);
        border-radius: 10px;
        height: 300px;
        width: 250px;
        opacity: 1;
        margin-left: 0px;
        margin-bottom: 10px;

        transform: scale(1, 1);
        z-index: 1;
        padding: 30px 10px;
    }

    .tiles-div760 {
        width: 250px;
        height: 300px;
        position: relative;
        margin-top: 10px;
    }

    .tiles-r-h760 {

        /* background-color: #FFD3B6; */
        background-color: var(--founder-tile-bgColor);

        border-radius: 10px;
        height: 300px;
        width: 250px;
        padding: 30px 10px;
        position: absolute;
    }

    .tiles-div760 {
        display: block;
    }

    .tiles-div {
        display: none;
    }

    .q-div {
        font-size: 12px;
        padding: 2rem;
    }

}

@media only screen and (max-width:642px) {
    .left-content {
        width: 100%;
        margin: 5px;
    }

    .tech-div {
        width: 300px;
        height: 300px;
    }

    .content_cards a{
        margin: auto;
    }
    .content_cards{
        margin: auto;
    }
    .c_cards{
        width: 250px;
        height: 150px;
    }
}


@media only screen and (max-width:562px) {

    .w-div {
        background-color: rgb(255, 255, 255, 0.2);
        border-radius: 20px;
        padding: 20px 60px 20px 60px;
        width: fit-content;
        font-size: 60px;
    }

    .des {
        width: 400px;
        margin: 40px 0;
        font-size: 15px;
        height: auto;
    }

    .nxt-btn {
        width: fit-content;
        padding: 10px 20px 10px 20px;
        border-radius: 10px;
        font-size: 80px;
    }

    .main-con {
        color: white;
        width: 100%;
        margin: 15% auto;
    }

    .side-nav {
        width: 75px;
        height: 100%;
        background-color: rgb(255, 255, 255, 0.2);
        position: fixed;
    }

    .l-div {
        color: white;
        /* width: 100%; */
        height: 3px;
        margin: 50px 50px 50px 0px;
    }

    .content_cards a{
        margin: auto;
    }
    .content_cards{
        margin: auto;
    }
    .c_cards{
        width: 250px;
        height: 150px;
    }

    .l {
        width: 100%;
        padding: 5px;
    }

    .s-m-div {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 100px 10px 100px 10px;
        flex-wrap: wrap;
    }
}

@media only screen and (max-width:500px) {
    .side-nav {
        display: none;
        width: 75px;
        height: 100%;
        background-color: rgb(255, 255, 255, 0.2);
        position: fixed;
    }

    .main-con {
        color: white;
        width: 64%;
        margin: 20% auto;
    }



    .right-div {
        width: 100%;
        height: 100%;
        margin-top: 10%;
        padding-left: 0px;

    }

    .w-div {
        background-color: rgb(255, 255, 255, 0.2);
        border-radius: 20px;
        padding: 20px 30px 20px 30px;
        width: fit-content;
        font-size: 50px;
    }

    .des {
        width: fit-content;
        margin: 40px 10px 40px 0;

        font-size: 20px;
        height: auto;
    }

    .s-m-div {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 100px 10px 100px 10px;
        flex-wrap: wrap;
    }

    .tech-div {
        width: 300px;
        height: fit-content;
    }
}


@media only screen and (max-width:417px) {


    .content_cards a{
        margin: auto;
    }
    .content_cards{
        margin: auto;
    }
    .c_cards{
        width: 250px;
        height: 150px;
    }

    .main-con {
        color: white;
        /* margin-top: 6%; */
        margin: 20% auto;
    }

    .w-div {
        background-color: rgb(255, 255, 255, 0.2);
        border-radius: 20px;
        padding: 20px 30px 20px 30px;
        width: fit-content;
        font-size: 43px;
    }

    .des {
        width: fit-content;
        margin: 40px 10px 40px 0;
        font-size: 13px;
        height: auto;
    }
}



/* Footer----------------------------------> */

.footer {
    /* background-color:gray; */
    /* background-color: var(--color-footer); */
    color: white;
    font-size: 1.3rem;
}

.footer .form-group {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#subscribe {
    padding: 1rem;
    color: white;
}

#copyright {
    text-align: center;
}