/* @import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.cdnfonts.com/css/agency-fb');



body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-family: 'Raleway Dots', cursive;
  font-family: 'Agency FB', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
  
  --color-bg: #040C18;
  --color-footer : #031B34;
  --color-blog: #042c54;
  --color-text: #81AFDD;
  --color-subtext: #FF8A71;
  --founder-tile-bgColor: #fff;
}


.dark-theme{
  --content_heading_font-size: 30px;
  --content_heading_font-weight: 500;
  --content_sub-heading-font-size: 28px;
  --content_sub-heading_sub-topics_font-size: 24px;
  --content-font-size: 15px;
  --content-font-weight: 500;

  --hr-color:rgb(255 255 255 / 10%);
  
  --h1-colors:white;
  --h3-h4-colors:white;
  --anchor-colors:white;
  --theme-btn-color: white;
  --side-nav-bg-color: #0a1929;
  --side-nav-tile-hover-color:rgb(19, 47, 76);
  --dashboard-bg-color:#0a1929;

  --text-color:white;
  

  --dashboard-box-shadow: 0px 0px 4px rgb(205,205,205);
  
  
  
  --tile-hover-background-color:rgba(62, 142, 255, 0.5);
  --tile-hover-text-color:rgb(24, 4, 59);
  --tile-hover-box-shadow-color:rgb(24, 4, 59);
  
}

.light-theme{
  
  --content_heading_font-size: 30px;
  --content_heading_font-weight: 500;
  --content_sub-heading-font-size: 28px;
  --content_sub-heading_sub-topics_font-size: 24px;
  --content-font-size: 15px;
  --content-font-weight: 500;
  
  --hr-color:rgba(0, 0, 0, 0.3);
  
  --h1-colors:black;
  --h3-h4-colors:black;
  --anchor-colors:rgb(24, 4, 59);
  --theme-btn-color: black;
  --side-nav-bg-color: white;
  --side-nav-tile-hover-color:whitesmoke;
  --dashboard-bg-color:white;
  
  
  --text-color:black;
  
  
  --dashboard-box-shadow: 0px 0px 6px rgb(188, 188, 188);



  --tile-hover-background-color:rgba(62, 142, 255, 0.5);
  --tile-hover-text-color:rgb(255, 255, 255);
  --tile-hover-box-shadow-color:rgb(9, 133, 255);

}