*{
    font-family: 'Agency FB', sans-serif;
}

.br{
    border: 2px solid red;
    /* color: #F8EDE3
    #DFD3C3
    #F5EBE0
    #EDE4E0
    #FFF5E4; */
}
#userDashboardmain{
    display: flex;
    width: fit-content;
    background-color:  var(--dashboard-bg-color);
}




.dashboard .backdrop{
    height: 250px;
    width: calc(100% - 20px);
    border-radius: 1rem;
    margin: 12px 12px 0 12px;
    display: flex;
    flex-direction: row-reverse;
    background-size: cover;
    /* background-image: url(../../Assets/backdrop.jpg); */
    /* background-image: url(../../Assets/wallhaven-wyomo6.jpg); */
    background-image: url(../../Assets/cardbg.png);
}

/* .backdrop span{
    margin: 2rem;
    display: none;
} */

.backdrop span{
    float: right;
    color: white;
    margin: 2rem;
    display: block;
}

#togglebtn{
    font-size: 48px;
    margin-left: 80px;
}


.dashboard_container .dashBoardSection{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.dashboard_container .dashBoardSection .profile_image{
    margin-left: 6%;
    margin-top: -2rem;
    display: flex;
    align-items: flex-end;
}

.dashboard_container .dashBoardSection .profile_image img{
    border-radius: 50%;
    border: 0.5rem solid white;
    height: 150px;
    width: 150px;
}

.dashboard_container .dashBoardSection .wrapper_data{
    width: 70%;
    display: flex;
    align-content: flex-end;
    align-items: center;
    justify-content: space-evenly;
}

.nameSection_about{
    /* padding: 10px 20px; */
    margin-left: 20px;
    color: var(--text-color);
    font-size: 20px;
}

.nameSection_about h4{
    /* color: black; */
    color: var(--h3-h4-colors);
    text-align: left;
    font-size: 28px;
}

.wrapper_data .section_button button{
    margin: 0 1rem;
    /* box-shadow: var(--dashboard-box-shadow); */
    border-radius: 8px;
    padding: 5px 1.5rem;
    font-size: larger;
}


/* Experience and Skill set ==============================> */

.dashboard_content_info{
    display: flex;
    margin-top: 5%;
    justify-content: space-around;
}

.dashboard_content_info > .exp_abt, .skillset_and_contact_info{
    height: fit-content;
    box-shadow: var(--dashboard-box-shadow);
    border-radius: 1rem;
    width: 500px;
    padding: 10px;
}

.dashboard_content_info > .exp_abt .Experience{
    box-shadow: var(--dashboard-box-shadow);
    border-radius: 1rem;
    padding: 12px;
    font-size: 18px;
    margin-top: 2rem;
    /* background-color: #142434; */
    color: var(--text-color);
    background-color: var(--dashboard-bg-color);
    font-family: 'Agency FB', sans-serif;
    
}
.dashboard_content_info > .exp_abt .aboutUser{
    background-color: var(--dashboard-bg-color);
    box-shadow: var(--dashboard-box-shadow);
    color: var(--text-color);
    border-radius: 1rem;
    font-size: 18px;
    padding: 12px;
    height: fit-content;
    margin: 2rem 0;
    font-family: 'Agency FB', sans-serif;
}
.skillset_and_contact_info{
    font-size: 18px;
    padding: 2rem;
    color: var(--text-color);
}

.skillset_and_contact_info div{
    list-style: none;
    display: flex;
}
.skillset_and_contact_info div li{
    margin: 0 1rem;
}




.skillset_and_contact_info h5{
    color: var(--text-color);
    text-align: left;
    margin-top: 16px;
}

.skillset_and_contact_info a{
    color: var(--text-color);
    font-size: 18px;
    text-decoration: none;
    font-weight: 600;
}

.skill_list{
    color: var(--text-color);
}

.skillset_and_contact_info a:hover{
    color: purple;
}


.messageBox{
    margin-top: 1.5rem;
    visibility: hidden;
}

.messageBox button{
    padding: 0 1rem;
    margin-left: 1rem;
}



.skillset_and_contact_info .skill_set_button{
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
}
.skillset_and_contact_info .skill_set_button button{
    padding: 0 1rem;
    font-size: larger;
    /* box-shadow: var(--dashboard-box-shadow); */
    border-radius: 8px;
}


/* Project/work of userDashboard==========================> */
#userDashboard_project_heading h1{
    margin-top: 5%;
    margin-left: 7%;
    color: var(--h3-h4-colors);
}
.projects_uploads{
    height: auto;
    padding: 2rem;
    margin-top: 2rem;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    box-shadow: var(--dashboard-box-shadow);
}

.projects_uploads .templet_area_userDashboard{
    width: 400px;
    height: 250px;
    margin:.5rem 1rem;
    border-radius: .5rem;
    border: 0.2px solid black;
    box-shadow: var(--dashboard-box-shadow);
}



@media screen and (max-width:1050px){
    .dashboard_content_info > .exp_abt, .skillset_and_contact_info{
        height: fit-content;
        box-shadow: var(--dashboard-box-shadow);
        border-radius: 1rem;
        width: 400px;
        padding: 10px;
    }
}

@media screen and (max-width:928px){
    .projects_uploads .templet_area_userDashboard{
        /* width: 500px; */
        height: 250px;
    }
}


@media screen and (max-width:850px){
    .dashboard_content_info{
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    
    .dashboard_content_info > .exp_abt, .skillset_and_contact_info{
        width: 500px;
        margin-top: 2rem;
    }

    .dashboard_container .dashBoardSection .wrapper_data{
        flex-direction: column;
    }

    .section_button{
        margin-top: 2rem;
        display: flex;
    }

    
    .profile_image{
        flex-direction: column;
        margin-left: 13%;
    }
}

@media screen and (max-width:550px){
    
    .dashboard_container .dashBoardSection{
        flex-direction: column;
    }
    .profile_image{
        margin-left: 0;
        margin-top: -4rem;
        align-items: center;
    }
}

/* @media screen and (max-width:450px){
    .dashboard_content_info > .exp_abt, .skillset_and_contact_info{
        width: 350px;
    }
}

@media screen and (max-width:400px){
    .dashboard_content_info > .exp_abt, .skillset_and_contact_info{
        width: 300px;
    }
}
@media screen and (max-width:300px){
    .dashboard_content_info > .exp_abt, .skillset_and_contact_info{
        width: 250px;
    }
} */